/**  LAYOUT  **/

.sidebar-second #content {
  width: 65%;
  float: left;
}

#sidebar-second {
  width: 33%;
  float: left;
  margin-left: 2%;
}



/** BORDER STYLES **/

.block, 
.item-list, 
.help-items ul, 
.form-item, 
.confirmation ul,
.admin-list, 
.node-type-list, 
.admin-panel 
.help-page, 
div.comment, 
div.node {
  border-color: #dcdcdc;
}

input.form-autocomplete, input.form-text, textarea.form-textarea, select.form-select {
border-color: #dcdcdc;
}

/* node add edit forms */

.tabs {
  position: static;
  right: 0;
}
